In [3]:
import pandas
import pandas as pd

In [2]:
import requests

In [4]:
#Test of exporting metadata based on my goodreads
urls = pd.read_csv("goodreads_library_export.csv", delimiter='\t', encoding='utf=8')

In [5]:
urls

    Book Id,Title,Author,Author l-f,Additional Authors,ISBN,ISBN13,My Rating,Average Rating,Publisher,Binding,Number of Pages,Year Published,Original Publication Year,Date Read,Date Added,Bookshelves,Bookshelves with positions,Exclusive Shelf,My Review,Spoiler,Private Notes,Read Count,Owned Copies
0    43465812,The Book of X,Sarah Rose Etter,"Etter...
1    164444179,First Lie Wins,Ashley Elston,"Elston...
2    61246258,Pineapple Street,Jenny   Jackson,"Jac...
3    96177642,Is It Ever Just Sex?,Darian Leader,"L...
4    62898932,Penance,Eliza  Clark,"Clark, Eliza",,...
..                                                 ...
285  1420,Hamlet,William Shakespeare,"Shakespeare, ...
286  12296,The Scarlet Letter,Nathaniel Hawthorne,"...
287  14935,Sense and Sensibility,Jane Austen,"Auste...
288  32620332,The Seven Husbands of Evelyn Hugo,Tay...
289  35031085,Frankenstein: The 1818 Text,Mary Woll...

[290 rows x 1 columns]

In [6]:
#check the columns of the csv file
print(urls.columns)

Index(['Book Id,Title,Author,Author l-f,Additional Authors,ISBN,ISBN13,My Rating,Average Rating,Publisher,Binding,Number of Pages,Year Published,Original Publication Year,Date Read,Date Added,Bookshelves,Bookshelves with positions,Exclusive Shelf,My Review,Spoiler,Private Notes,Read Count,Owned Copies'], dtype='object')